{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-background"></div>
    <div class="login-container">
        <h1 class="mb--50">Linklaters Massage</h1>

        <div class="login">
            <form method="post">
                <h2 class="mb--20">Forgot Password</h2>

                {% if error %}
                    <div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="d--fc mb--20">
                    <label for="inputEmail" class="mb--10">Email</label>
                    <input type="email" name="email" id="inputEmail" class="input-login--text" required autofocus>
                </div>

                <button class="button input-login--submit" type="submit">
                    Send password reset link
                </button>
            </form>
            <a class="link mt--10" href="{{ path('login') }}">
                Back to login
            </a>
        </div>
    </div>



{% endblock %}